.text-cantfind{
    color: #02033B;
    font-size: 2.4em;
    font-weight: 600;
    margin-top: 7%;
    text-align: center;
}

.pic-cantfind{
    display: block;
    margin: 2% auto 0 auto;
    padding-bottom: 365px;
    width: 30%;
    height: 60vh;
}
