.text-cantfind{
    color: #02033B;
    font-size: 24px;
    font-weight: 600;
    margin-top: 97px;
    text-align: center;
}

.pic-cantfind{
    display: block;
    margin: 61px auto 0 auto;
    padding-bottom: 365px;
    width: 425px;
    height: 371px;
}
