.container-list-all{
    height: fit-content;
}

.contact-info-list li{
    line-height: 4.32rem;
}

.contact-info-title{
    font-weight: bold;
    font-size: 2.5rem;
    margin-top: 0;
}

.contact-info-list-item, .contact-info-list-item-listchild-item{
    font-weight: 600;
    font-size: 1.8rem;
}

.list-contact-row3-box1{
    width: 60%;
}

.list-contact-row3-box2{
    width: 32%;
}