.post-title-all li:hover{
    text-decoration: underline;
    font-weight: 600;
}

.contact-container{
    height: fit-content;
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 5%;
}

.contact-col1{
    width: 60%;
}

.contact-col2{
    width: 30%;
}

.container-box-all, .body-item-box-all, .body-item-box-all-3 {
    width: 100%;
}

.organ-item-row2-box2-title{
    margin-top: 5%;
}

.contact-item-row3-box2_1{
    margin-top: 15%;
}

@media screen and (min-width: 992px) {

    .find_bar{
        width: 100%;
        background-color: #FFF;
        border-radius: 10px;
        height: fit-content;
    }

    .find_bar-icon1{
        width: 1.5rem;
        height: 1.5rem;
    }

    .find_bar-text, .find_bar-text::placeholder{
        color: #000;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .find_bar-text{
        width: 70%;
        height: fit-content;
        margin-left: 5%;
        background-color: #FFF;
        padding: 4%;
    }
}

.list-contact-row3-box2{
    margin-top: 10%;
}

.contact-row1-title p{
    margin-top: 0;
    color: #135FAB;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.7rem;
}

.container-info{
    width: 100%;
    height: fit-content;
}

.contact-info p{
    margin: 0;
    color: #000;
    font-size: 1.5625rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.7rem;
}

.contact-info li{
    color: #000;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.7rem;
}

.news-item1-title{
    height: fit-content;
    width: 100%;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.70);
}

.news-item-title-topic{
    margin-top: 4.5%;
    width: 100%;
}

#news-item1-title1-topic1{
    margin-top: 0;
}

.news-item-title-topic a{
    color: #135FAB;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.7rem;
}

.news-item1-title-date{
    width: 100%;
}

.news-item1-title-date p{
    margin-top: 1%;
    display: block;
    color: #000;
    font-size: 0.93rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.7rem;
    text-align: right;
}

.organ-img img{
    margin-top: 3%;
    width: 100%;
    height: fit-content;
}

.space0{
    height: 0.01vh;
}


@media screen and (min-width: 992px) {

    .find_bar{
        width: 100%;
        background-color: #FFF;
        border-radius: 10px;
        height: fit-content;
    }

    .find_bar-icon1{
        width: 1.5rem;
        height: 1.5rem;
    }

    .find_bar-text, .find_bar-text::placeholder{
        color: #000;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .find_bar-text{
        width: 70%;
        height: fit-content;
        margin-left: 5%;
        background-color: #FFF;
        padding: 4%;
    }
}

@media screen and (max-width: 991px) {
    .contact-container{
        display: block;
    }

    .body-item-box-all, .body-item-box-all-3{
        display: none;
    }

    .contact-col1{
        width: 100%;
    }
    
    .contact-col2{
        width: 100%;
    }

    .body-item-text-all li{
        width: 90%;
    }

    .nav-response{
        width: 100%;
        border-radius: 0;
        background-color: #135FAB;
        height: fit-content;
    }

    .find_bar{
        background-color: #135FAB;
    }

    .find_bar input{
        padding-left: 0;
    }

    .contact-find_bar{
        display: none;
    }
}

.pagination{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #135FAB;
    text-align: center;
    line-height: 32px;
    word-spacing: 15.28px;
}

.page-item{
    padding: 48px 15px 0 15px;
    cursor: pointer;
}

#page-item1{
    border-bottom: 1px solid #135FAB;
}