.list-title-all{
    display: block;
    width: 1053px;
    margin: 96px auto 0 auto;
    font-size: 28px;
    font-weight: bold;
}

.container-list-all{
    display:flex;
    justify-content: space-between;
    width: 1060px;
    height: 696px;
    padding: 41px 0 145px 0;
    margin: 0 auto 0 auto;
   
}       

.list-all{
    width: 640px;
    height: 696px;
    line-height: 43.2px;
}

.list-item-all{
    font-size: 20px;
    font-weight: 600;
    color: #02033B;
}

.list-info-all{
    margin: 0;
    font-weight: lighter;
    font-size: 18px;
    color: #02033B;
    line-height: 43.2px;
    white-space: nowrap;         
    overflow: hidden;           
    text-overflow: ellipsis; 
    opacity: 0.5;
}

.container-box-all{
    display: inline-block;
    border-radius: 10px;
    width: 362px;
    height: 629px;
    margin-right: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}