.list-title-all{
    display: block;
    width: 75%;
    margin: 5% auto 0 auto;
    font-size: 2.8em;
    font-weight: bold;
}

.container-list-all{
    display:flex;
    justify-content: space-between;
    width: 80%;
    height: fit-content;
    padding: 2% 0 10% 0;
    margin: 0 auto 0 auto;
   
}       

.list-all{
    width: 65%;
    height: fit-content;
    line-height: 4em;
}

.list-item-all{
    font-size: 2em;
    font-weight: 600;
    color: #02033B;
}

.list-info-all{
    margin: 0;
    font-weight: lighter;
    font-size: 1.8em;
    color: #02033B;
    line-height: 3rem;
    white-space: nowrap;         
    overflow: hidden;           
    text-overflow: ellipsis; 
    opacity: 0.5;
}

.container-box-all{
    margin-top: 2%;
    display: inline-block;
    border-radius: 10px;
    width: 30%;
    height: fit-content;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}