body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    width: 100%;
    position: relative;
    margin: 0 auto 0 auto;
    padding: 0;
}

.header-container, .header-title, .header-title-logo1{
    height: 121px;
}

.header-container{
    position: relative;
    display: flex;
    width: 90%;
    margin: 24px auto 0 auto;
    align-items: center;
}

.header-title, .header-title-logo1, .header-title-text, .header-title-logo2{
    display: inline-block;
}

.header-title{
    width: 697px;
}

.header-title-logo1{
    width: 101px;
}

.header-title-text{
    position: absolute;
    color: #007CBA;
    margin-left: 18px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.header-title-text-line1{
    font-size: 35px;
    line-height: 1.293;
    word-spacing: 0.09;
}

.header-title-text-line2{
    font-size:28px;
    line-height: 1.303;
    word-spacing: 0.09;
}

.header-title-text-line3{
    font-size: 18.25px;
    line-height: 1.303;
    word-spacing: 0.02;
}

.header-title-logo2{
    position: absolute;
    width: 129px;
    height: 81px;
    right: 0%;
}

.menu{
    margin: 50px 0 0 0;
    position: relative;
    background-color: #135FAB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-item{
    display: inline-block;
    padding:10px 35px;
    margin: 4.5px 0;
    border-right: 1px solid #FFFFFF;
    cursor: pointer;
}

#menu-item8{
    border-right: 0px;
}

.menu a{
    font-size: 14px;
    line-height: 1.5;
    font-weight: bold;
    text-decoration: none;
    color: #FFFFFF;
}

.menu li:hover a{
    color:#02033B;
    background-color: #FFFFFF;
}

.menu li:hover {
    background-color: #FFFFFF;
}

.banner{
    margin-top: 84px;
    position: relative;
    display: flex;
    justify-content: center;
}

.banner-img, .banner-button{
    height: 519px;
}

.banner-img{
    display: none;
    position: absolute;
    width: 1062px;
}

.banner-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 890px;
}

.banner-button-all{
    transition: transform 0.2s ease-in-out;
    width: 14.06px;
    height: 24.41px;
    display: inline-block;
    padding: 20px 25px;
    border-radius: 50%;
    background-color: #E3F5FF;
    opacity: 0.76;
    cursor: pointer;
}

.banner-button-all:hover{
    opacity: 0.8;
    transform: scale(1.05);
}

.find_bar{
    display: flex;
    align-items: center;
    margin: 34px auto 0 auto;
    width: 1053px;
    height: 80px;
    background-color: #F2F2F2;
    border-radius: 10px;
}

.title-all, .post-title-all, .index-item-row1-box1-img{
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.title-all:hover, .post-title-all:hover{
    text-decoration: underline;
    font-weight: 600;
}

.index-item-row1-box1-img:hover, .body-item-more-all-2:hover{
    transform: scale(1.05);
    text-decoration: none;
}

.body-item-more-all-2:hover{
    opacity: 1;
}

.find_bar-icon1, .find_bar-text, .find_bar-x{
    display: inline-block;
}

.find_bar-icon1, .find_bar-x{
    cursor: pointer;
}

.find_bar-icon1{
    width: 24px;
    height: 24px;
    margin-left: 18px;
}

.find_bar-text{
    font-size: 20px;
    margin-left: 41px;
    width: 700px;
    border: 0;
    outline: none;
    background-color: #F2F2F2;
}

.find_bar-text :focus{
    outline: none;
}

.find_bar-x{
    width: 18px;
    height: 18px;
    color: #BDBEC3;
    margin-left: 5px;
}

.find_bar-options{
    font-size: 20px;
    padding-left: 36.5px;
    margin-left: 13.5px;
    border-left: 1px solid #BDBEC3;
}

.find_bar-icon2{
    width: 24px;
    height: 24px;
    margin: 23px 19px;
    cursor: pointer;
}

.sub-parent{
    display: flex;
    flex-direction: row;
}

.sub-menu{
    width: fit-content;
    position:absolute;
    margin-top: 80px;
    opacity: 0;
    z-index:-1;
    transition: linear 0.15s;
    background-color: white;
}

.sub-menu-item{
    transition:all linear 0.15s;
    text-decoration:none;
    color: black;
    font-size:16px;
    padding: 16px 40px;
    width: 160px;
    display:block;
    text-align: center;
}

.sub-parent:hover .sub-menu {
    z-index:1;
    opacity:1;
}

.sub-menu-item:hover{
    z-index:2;
    opacity:1;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

.index-item-row1, .index-item-row1-box1{
    height: 494.5px;
}

.index-news{
    display: block;
    width: 1053px;
    height: fit-content;
    margin: 50px auto 0 auto;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.index-news-title{
    font-weight: 900;
    margin-left: 95px;
    font-size: 24px;
    line-height: 43.2px;
    color: #02033B;
}

.index-news-list{
    display: block;
    margin: 15px auto 0 auto;
    padding-bottom: 27.65px;
    width: 902.96px;
}

.index-news-list-item{
    font-size: 20px;
    line-height: 28px;
    font-weight: 300;
}

.index-news-list-items-more{
    text-align: right;
    margin-right: 25px;
}

.index-item-row1{
    margin: 140px auto 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1059.61px;
}

.index-item-row1-box1{
    display: inline-block;
    border-radius: 10px;
    width: 728px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.index-item-row1-box1-title{
    color: #02033B;
    font-weight: bolder;
    font-size: 40px;
    text-align: center;
    line-height: 45px;
    word-spacing: 0.28px;
}

.index-item-row1-box1-img{
    display:block;
    margin: 0 auto 0 auto;
    width: 628px;
    height: 153px;
}

.index-item-row1-box1-text{
    display: block;
    margin-left: 100px;
    line-height: 1.5;
    font-size: 16px;
}

.index-item-row1-box1-more{
    margin-top: 54px;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 0.225;
}

.index-item-row1-box2{
    display: inline-block;
    border-radius: 10px;
    width: 301.61px;
    height: 400px;
    padding-right: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.body-item-title-all{
    font-size: 24px;
    font-weight: bolder;
    color: #02033B;
    line-height: 43.2px;
    text-align: center;
}

.body-item-text-all{
    font-size: 16px;
    font-weight: 300;
    width: 258.63px;
    line-height: 28px;
}

.index-item-row2, .index-item-row3{
    margin: 78.5px auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1056.42px;
    height: 397px;
}

.body-item-box-all, .body-item-box-all-3{
    width: 332px;
    height: 392px;
}

.body-item-title-all-2{
    color:#02033B;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    word-spacing: 2.5px;
    padding: 20px 0 20px 32px;
    border-left: 5px solid #135FAB;
    border-bottom: 1px solid #426FFF;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
}

.body-item-text-all-2{
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    height: 252px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.body-item-more-all{
    font-size: 18px;
    font-weight: 600;
    color: #4262FF;
    margin-left: 10px;
}

.body-item-box-all-3{
    height: 361px;
    box-shadow: 
    0px 5px 10px rgba(0, 0, 0, 0.5), 
    -5px 0px 10px rgba(255, 255, 255, 0.5),
    5px 0px 10px rgba(255, 255, 255, 0.5);
    margin-top: 100px;
    border-radius: 10px;
}

.body-item-title-all-3{
    display: flex;
}

.body-title-ic-all-3{
    margin-left: 36px;
    display: inline-block;
}

.body-item-title-text-all-3{
    width: 215px;
    white-space: nowrap;
    overflow: hidden;   
    text-overflow: ellipsis;
    display: inline-block;
    margin-left: 16px;
    font-size: 24px;
    font-weight: bold;
    color: #444D61;
}

.body-item-text-all-3{
    width: 275px;
    height: 164px;
    line-height: 1.6;
    word-spacing: 5px;
}

.body-item-more-all-2{
    display: block;
    margin: 28px auto 0 auto;
    width: 125.59px;
    height: 54.5px;
    border-radius: 42px;
    border: 1px solid #444D61;
    font-weight: 600;
    font-size: 16px;
}

.partner{         
    display: block;
    margin: 155px auto 0 auto;
    width: 1059.61px;
    height: 68px;
}

.partner-title{
    width:432px;
}

.partner-list{
    display: block;
    margin: 38px auto 0 auto;
    width: 1058px;
    height: 332px;
    background-color: #BCBCBC;
}

.partner-list-text{
    font-size: 24px;
    font-weight: bold;
    padding: 69px 0 0 77px;
    line-height: 28px;
    word-spacing: 2.5px;
}

footer{
    display: flex;
    width: 100%;
    height: 207px;
    background-color: #135FAB;
    align-items: center;
    margin-top: 50px;
}

.img-footer{
    display: inline-block;
    width: 129px;
    height: 81px;
    margin-left: 103px;
}

.text-footer{
    display: inline-block;
    font-size: 18px;
    color: #FFFFFF;
    margin-left: 50px;
    line-height: 32px;
    font-weight: 600;
    word-spacing: 0.28px;
}

/* Tablet */
@media screen and (max-width: 991px) {
    .header-container, .header-title, .header-title-logo1{
        height: 67px;
    }
    
    .header-container{
        position: relative;
        display: flex;
        width: 90%;
        margin: 12px auto 0 auto;
        align-items: center;
    }
    
    .header-title, .header-title-logo1, .header-title-text, .header-title-logo2{
        display: inline-block;
    }
    
    .header-title{
        width: 182px;
    }
    
    .header-title-logo1{
        width: 56px;
        height: 67px;
    }
    
    .header-title-text{
        position: absolute;
        color: #007CBA;
        margin: 0 0 0 13px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    }
    
    .header-title-text-line1{
        font-size: 11px;
        line-height: 1.293;
        word-spacing: 0.09;
    }
    
    .header-title-text-line2{
        font-size:9px;
        line-height: 1.303;
        word-spacing: 0.09;
    }
    
    .header-title-text-line3{
        font-size: 6.5px;
        line-height: 1.303;
        word-spacing: 0.02;
    }
    
    .header-title-logo2{
        position: absolute;
        width: 59px;
        height: 37px;
        right: 0%;
    }
    
    .menu{
        display: none;
    }
    
    .banner{
        margin-top: 17px;
        position: relative;
        display: flex;
        justify-content: center;
    }

    .banner-button-all{
        display: none;
    }
    
    .banner-img{
        width: 379px;
        height: 167px;
    }
    
    .find_bar{
        display: flex;
        align-items: center;
        margin: 17px auto 0 auto;
        width: 100%;
        height: 44px;
        background-color:#135FAB;
    }
    
    .title-all, .post-title-all, .index-item-row1-box1-img{
        cursor: pointer;
        transition: transform 0.3s ease-in-out;
    }
    
    .title-all:hover, .post-title-all:hover{
        text-decoration: underline;
        font-weight: 600;
    }
    
    .index-item-row1-box1-img:hover, .body-item-more-all-2:hover{
        transform: scale(1.05);
        text-decoration: none;
    }
    
    .body-item-more-all-2:hover{
        opacity: 1;
    }
    
    .find_bar-icon1, .find_bar-text, .find_bar-x{
        display: inline-block;
    }
    
    .find_bar-icon1, .find_bar-x{
        cursor: pointer;
    }
    
    .find_bar-icon1{
        width: 16px;
        height: 16px;
        margin-left: 50px;
    }
    
    .find_bar-text{
        font-size: 12px;
        margin-left: 15px;
        width: 61px;
        border: 0;
        outline: none;
        color: #FFFFFF;
        background-color:#135FAB;
    }
    
    .find_bar-text :focus{
        outline: none;
    }
    
    .find_bar-x{
        display: none;
    }
}