body {
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto 0 auto;
    padding: 0;
}

.nav-response{
    display: none;
}

.header-container{
    display: flex;
    width: 90%;
    height: fit-content;
    margin: 2% auto 0 auto;
    align-items: center;
}

.header-title{
    height: 5%;
    width: 90%;
}

.header-container img, p{
    display: inline-block;
}

.header-title img{
    width: 101px;
    height: 121px;
}

.header-title .header-title-text{
    position: absolute;
    height: fit-content;
    max-width: 80%;
    color: #007CBA;
    margin-left: 1.5%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.header-title .header-title-text-line1{
    font-size: 2.2rem;
    line-height: 129.3%;
    word-spacing: 0.09;
}

.header-title .header-title-text-line2{
    font-size:1.75rem;
    line-height: 130.3%;
    word-spacing: 0.09;
}

.header-title .header-title-text-line3{
    font-size: 1.1rem;
    line-height: 130.3%;
    word-spacing: 0.02;
}

.header-title-logo2 img{
    width: 129px;
    height: 81px;
}

.menu{
    margin-top: 2%;
    width: 100%;
    height: fit-content;
    padding: 0;
    position: relative;
    background-color: #135FAB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-item{
    display: inline-block;
    width: 12%;
    height: 100%;
    text-align: center;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    border-right: 1px solid #FFFFFF;
    cursor: pointer;
}

#menu-item8{
    border-right: 0px;
}

.menu a{
    font-size: 0.9rem;
    line-height: 1.5;
    font-weight: bold;
    text-decoration: none;
    color: #FFFFFF;
}

.menu div:hover a{
    color:#02033B;
    background-color: #FFFFFF;
}

.menu div:hover{
    background-color: #FFFFFF;
}

.banner{
    margin: 2% auto 0 auto;
    width: 80%;
    position: relative;
    display: flex;
    justify-content: center;
}

.banner-img{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
}

.banner-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 100%;
}

.banner-button-all{
    transition: transform 0.2s ease-in-out;
    width: 1.5%;
    height: 5%;
    display: inline-block;
    padding: 1.25rem 1.56rem;
    border-radius: 50%;
    background-color: #E3F5FF;
    opacity: 0.76;
    cursor: pointer;
}

.banner-button img:hover{
    opacity: 0.8;
    transform: scale(1.05);
}

.find_bar{
    display: flex;
    align-items: center;
    margin: 2% auto 0 auto;
    width: 80%;
    height: fit-content;
    background-color: #F2F2F2;
    border-radius: 10px;
}

.title-all, .post-title-all, .index-item-row1-box1-img{
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.title-all:hover, .body-item-text-all li:hover, .index-news-list li:hover, .body-item-text-all-2 li:hover, .body-item-box-all-3 li:hover, .index-item-row1-box1-text li:hover, .news-item-title-topic p:hover{
    cursor: pointer;
    text-decoration: underline;
    color: #135FAB;
}

.index-item-row1-box1-img:hover, .body-item-more-all-2:hover{
    transform: scale(1.05);
    text-decoration: none;
}

.body-item-more-all-2:hover{
    opacity: 1;
}

.find_bar-icon1, .find_bar-text, .find_bar-x{
    display: inline-block;
}

.find_bar-icon1, .find_bar-x{
    cursor: pointer;
}

.find_bar-icon1{
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 2%;
}

.find_bar-text{
    margin-left: 4%;
    font-size: 1.25rem;
    width: 100%;
    border: 0;
    outline: none;
    background-color: #F2F2F2;
    line-height: normal;
}

.find_bar-text :focus{
    outline: none;
}

.find_bar-children{
    width: fit-content;
    margin-right: 2%;
}

.find_bar-x{
    width: 1.1rem;
    height: 1.1rem;
    color: #BDBEC3;
    margin-left: 0.2%;
}

.find_bar-options{
    white-space: nowrap;
    font-size: 1.25rem;
    padding-left: 1.2rem;
    border-left: 1px solid #BDBEC3;
}

.find_bar-icon2, .find_bar-sider{ 
    width: 1.5rem;
    height: 1.5rem;
    margin: auto;
    cursor: pointer;
}

.sub-parent{
    margin-left: 2%;
    display: flex;
    flex-direction: row;
}

.sub-menu{
    width: fit-content;
    position:absolute;
    margin-top: 5%;
    opacity: 0;
    z-index:-1;
    transition: linear 0.15s;
    background-color: white;
}

.sub-menu-item{
    transition:all linear 0.15s;
    text-decoration:none;
    color: black;
    padding: 1rem 2.5rem;
    width: fit-content;
    display:block;
    text-align: center;
}

.sub-parent:hover .sub-menu {
    z-index:1;
    opacity:1;
}

.sub-menu-item:hover{
    z-index:2;
    opacity:1;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

.index-item-row1, .index-item-row1-box1{
    height: 80%;
}

.index-news{
    display: block;
    width: 80%;
    height: fit-content;
    margin: 5% auto 0 auto;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.index-news-title{
    font-weight: 900;
    margin-left: 10%;
    font-size: 1.5rem;
    line-height: 2.7rem;
    color: #02033B;
}

.index-news-list{
    display: block;
    margin: auto;
    padding-bottom: 1%;
    width: 80%;
}

.index-news-list li{
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 300;
}

.index-news-list-items-more{
    width: 100%;
    text-align: right;
    margin-right: 1%;
}

.index-item-row1{
    margin: 5% auto 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.index-item-row1-box1{
    border-radius: 10px;
    width: 100%;
    padding-bottom: 2%;
    height: fit-content;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.index-item-row1-box1-title{
    width: 100%;
    color: #02033B;
    font-weight: bolder;
    font-size: 2.5rem;
    text-align: center;
    line-height: 1.75rem;
    word-spacing: 0.0175rem;
}

.index-item-row1-box1 img{
    display:block;
    margin: 0 auto 0 auto;
    width: 85%;
    height: 30%;
}

.index-item-row1-children{
    display: block;
    width: fit-content;
    margin: auto;
}

.index-item-row1-box1-text li{
    line-height: 150%;
}

.index-item-row1-box1-more{
    width: 100%;
    margin-top: 5%;
    text-align: center;
    font-weight: 600;
    font-size: 1.125rem;
}

.index-item-row1-box2{
    border-radius: 10px;
    width: 30%;
    padding: 1% 1rem;
    height: fit-content;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.body-item-title-all{
    width: 100%;
    font-size: 1.5rem;
    font-weight: bolder;
    color: #02033B;
    line-height: 2.5rem;
    text-align: center;
    margin-bottom: 0;
}

.body-item-text-all li{
    font-weight: 300;
    width: 80%;
    line-height: 1.75rem;
}

.index-item-row2, .index-item-row3{
    display: flex;
    justify-content: space-between;
    width: 78%;
}

.index-item-row2{
    margin: 5% auto 0 auto;
    height: fit-content;
}

.index-item-row3{
    margin: 1% auto 0 auto;
}

.body-item-box-all, .body-item-box-all-3{
    width: 30%;
    height: fit-content;
}

.body-item-title-all-2{
    width: 100%;
    color:#02033B;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.75rem;
    word-spacing: 0.25rem;
    padding: 2% 0 2% 5%;
    border-left: 5px solid #135FAB;
    border-bottom: 1px solid #426FFF;
    text-shadow: 0px 4px 4px rgba(0, 147, 221, 0.12);
    white-space: nowrap;
}

.body-item-text-all-2 li{
    font-weight: 300;
    line-height: 1.75rem;
    height: fit-content;
}

.body-item-more-all{
    font-size: 1.125rem;
    font-weight: 600;
    color: #4262FF;
    margin-left: 6%;
}

.body-item-box-all-3{
    height: fit-content;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-top: 5%;
    border-radius: 10px;
}

.body-item-title-all-3{
    display: flex;
    margin-top: 10%;
}

.body-title-ic-all-3{
    height: 2rem;
    width: 1.875rem;
    margin-left: 5%;
    display: inline-block;
}

.body-item-title-text-all-3{
    width: fit-content;
    white-space: nowrap;
    display: inline-block;
    margin-top: 1%;
    margin-left: 2%;
    font-size: 1.2rem;
    font-weight: bold;
    color: #444D61;
}

.body-item-text-all-3 li{
    width: 95%;
    height: fit-content;
    line-height: 160%;
}

.body-item-more-all-2{
    display: block;
    margin: 10% auto 0 auto;
    width: 8rem;
    font-size: 1rem;
    height: 3.4rem;
    border-radius: 42px;
    border: 1px solid #444D61;
    font-weight: 600;
}

.partner{         
    display: block;
    margin: 5% auto 0 auto;
    width: 78%;
    height: fit-content;
}

.partner-title{
    width:94.5%;
}

.partner-list{
    display: block;
    margin: 2% auto 0 auto;
    width: 78%;
    height: fit-content;
    padding-bottom: 2%;
    background-color: #BCBCBC;
}

.partner-list-text{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 69px 0 0 77px;
    line-height: 28px;
    word-spacing: 2.5px;
}

footer{
    display: flex;
    width: 100%;
    height: fit-content;
    background-color: hsl(210, 80%, 37%);
    align-items: center;
    margin-top: 5%;
}

.img-footer{
    display: inline-block;
    width: 9%;
    height: 40%;
    padding: 5% 0;
    margin-left: 10%;
}

.text-footer{
    display: inline-block;
    font-size: 1.125rem;
    color: #FFFFFF;
    margin-left: 2%;
    line-height: 2rem;
    font-style: normal;
    letter-spacing: 0.0175rem;
}

.space{
    height: 5vh;
}

/* @media screen and (min-width: 768px) and (max-width: 990px) {
    .body-item-text-all-2{
        padding-left: 10%;
    }

    .body-item-text-all-3{
        padding-left: 15%;
    }
  }

@media screen and (max-width: 793px) {
    html{
        font-size: 7.5px;
      }

    .find_bar{
        display: none;
    }

    .index-item-row2, .index-item-row3, .index-item-row1.box1, .index-item-row1-box2{
        display: block;
    }

    .body-item-box-all, .body-item-box-all-3{
        display: inline-block;
        width: 40%;
        margin-left: 4.5%;
        margin-right: 4.5%;
    }

    .index-news-list, .body-item-text-all-2{
        margin-left: 0;
    }

    .body-item-text-all-2{
        padding-left: 10%;
    }

    .body-item-text-all-3{
        padding-left: 15%;
    }

    .index-item-row1-box1{
        width: 100%;
    }

    .index-item-row1-box1 li{
        font-size: 2rem;
    }

    .index-item-row1-box2{
        display: none;
    }

    .body-item-title-all-2{
        width: 94%;
    }

    .partner{
        display: block;
        width: 78%;
        margin-left: auto;
        margin-right: auto;
    }
  }

  @media screen and (max-width: 575px) {
    .banner{
        height: 150px;
    }

    .banner-button-all{
        display: none;
    }

    .find_bar{
        top: 5vh;
    }

    .body-item-box-all, .body-item-box-all-3{
        display: block;
        width: 100%;
        margin: 10% auto;
    }

    .header-title-text-line1{
        font-size: 11px;
    }

    .header-title-text-line2{
        font-size: 9px;
    }

    .header-title-text-line3{
        font-size: 6.5px;
    }

    .find_bar-text{
        font-size: 12px;
        width: 60%;
    }

    .find_bar-options{
        font-size: 11px;
    }

    .body-item-text-all-2{
        padding-left: 10%;
    }

    .index-item-row1-box1-text{
        margin-left: 5%;
    }
  } */

  @media screen and (max-width: 478px) {
    html{
        font-size: 12px;
    }

    .nav-response{
        display: block;
        width: 100%;
        background-color: #135FAB;
    }

    .find_bar{
        display: flex;
        width: 87.5%;
        border-radius: 0;
        margin-left: auto;
        margin-right: auto;
        background-color: #135FAB;
    }

    .find_bar-icon1{
        margin-left: 0;
    }

    .find_bar input{
        background-color: #135FAB;
    }

    .find_bar input::placeholder{
        color: white;
        font-size: 1rem;
    }

    .find_bar-options{
        border-left:0;
    }

    .find_bar-options, .find_bar-icon2{
        margin-right: 5%;
    }

    .find_bar-icon1, .find_bar-icon2, .find_bar-sider{
        filter: brightness(0) invert(1);
    }

    .sub-parent .find_bar-options{
        color: white;
        font-size: 1rem;
    }

    .form-finding{
        display: none;
    }

    .header-title img{
        width: fit-content;
        height: 12vw;
    }

    .header-title-logo2 img{
        width: fit-content;
        height: 9vw;
    }

    .header-title p{
        font-size: 1.8vw;
    }

    .header-title .header-title-text-line1{
        font-size: 1.75em;
        line-height: 129.3%;
        word-spacing: 0.09;
    }
    
    .header-title .header-title-text-line2{
        font-size: 1.4375em;
        line-height: 130.3%;
        word-spacing: 0.09;
    }
    
    .header-title .header-title-text-line3{
        font-size: 1em;
        line-height: 130.3%;
        word-spacing: 0.02;
    }

    .banner-button-all{
        display: none;
    }

    .menu{
        display: none;
    }

    .banner{
        width: 90%;
        height: 50vw;
    }

    .index-news{
        width: 90%;
    }

    .index-news-list p{
        margin-left: 0;
    }

    .body-item-title-all-3{
        display: block;
    }

    .body-title-ic-all-3, .title-all{
        display: block;
    }

    .index-item-row2, .index-item-row3, .index-item-row1.box1, .index-item-row1-box2{
        display: block;
    }

    .body-item-box-all, .body-item-box-all-3{
        display: inline-block;
        width: 100%;
    }

    .index-news-list, .body-item-text-all-2{
        margin-left: 0;
    }

    .body-item-text-all-2{
        padding-left: 10%;
    }

    .body-item-text-all-3{
        padding-left: 15%;
    }

    .index-item-row1-box1{
        width: 100%;
    }

    .index-item-row1-box1 li{
        font-size: 1rem;
    }

    .index-item-row1-box2{
        display: none;
    }

    .index-item-row1{
        width: 100%;
    }

    .index-item-row1-box1{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .body-item-title-all-2{
        width: 94%;
    }

    .index-item-row2{
        width: 90%;
    }

    .index-item-row1-box1-title{
        font-size: 2rem;
    }

    .partner{         
        display: block;
        margin: 5% auto 0 auto;
        width: 90%;
        height: fit-content;
    }
    
    .partner-title{
        width:94.5%;
    }
    
    .partner-list{
        display: block;
        margin: 2% auto 0 auto;
        width: 88%;
        height: fit-content;
        padding-bottom: 2%;
        background-color: #BCBCBC;
    }

    .index-item-row3{
        width: 90%;
    }

    .body-item-title-text-all-3{
        width: 90%;
        margin: 2% auto;
    }

    footer{
        flex-direction: column;
    }
    
    .img-footer{
        display: block;
        width: 25%;
        height: fit-content;
        padding: 5% 0 0 0;
        margin-left: 0;
    }
    
    .text-footer{
        display: block;
        font-size: 0.9rem;
        padding-bottom: 5%;
    }
}

  @media screen and (min-width: 479px) and (max-width: 793px) {
    html{
        font-size: 1.5vw;
    }

    .nav-response{
        display: block;
        width: 100%;
        background-color: #135FAB;
    }

    .find_bar{
        display: flex;
        border-radius: 0;
        background-color: #135FAB;
        width: 87.5%;
    }

    .find_bar-icon1{
        margin-left: 0;
    }

    .find_bar input{
        background-color: #135FAB;
    }

    .find_bar input::placeholder{
        color: white;
    }

    .find_bar-options{
        border-left:0;
    }

    .find_bar-options, .find_bar-icon2{
        margin-right: 5%;
    }

    .find_bar-icon1, .find_bar-icon2, .find_bar-sider{
        filter: brightness(0) invert(1);
    }

    .sub-parent .find_bar-options{
        color: white;
    }

    .form-finding{
        display: none;
    }
    .header-title img{
        width: fit-content;
        height: 12vw;
    }

    .header-title-logo2 img{
        width: fit-content;
        height: 9vw;
    }

    .header-title .header-title-text-line1{
        font-size: 1.75rem;
        line-height: 129.3%;
        word-spacing: 0.09;
    }
    
    .header-title .header-title-text-line2{
        font-size:1.4375rem;
        line-height: 130.3%;
        word-spacing: 0.09;
    }
    
    .header-title .header-title-text-line3{
        line-height: 130.3%;
        word-spacing: 0.02;
    }

    .menu{
        display: none;
    }

    .banner{
        height: 50vw;
    }

    .body-item-title-all-3{
        display: block;
    }

    .body-title-ic-all-3, .title-all{
        display: block;
    }

    .index-item-row2, .index-item-row3, .index-item-row1.box1, .index-item-row1-box2{
        display: block;
    }

    .body-item-box-all, .body-item-box-all-3{
        display: inline-block;
        width: 40%;
        margin-left: 4.5%;
        margin-right: 4.5%;
    }

    .index-news-list, .body-item-text-all-2{
        margin-left: 0;
    }

    .body-item-text-all-2{
        padding-left: 10%;
    }

    .body-item-text-all-3{
        padding-left: 15%;
    }

    .index-item-row1-box1{
        width: 100%;
    }

    .index-item-row1-box1 li{
        font-size: 1.33rem;
    }

    .index-item-row1-box2{
        display: none;
    }

    .body-item-title-all-2{
        width: 94%;
    }

    .index-item-row2{
        width: 90%;
    }

    .partner{         
        display: block;
        margin: 5% auto 0 auto;
        width: 78%;
        height: fit-content;
    }
    
    .partner-title{
        width:94.5%;
    }
    
    .partner-list{
        display: block;
        margin: 2% auto 0 auto;
        width: 78%;
        height: fit-content;
        padding-bottom: 2%;
        background-color: #BCBCBC;
    }

    .index-item-row3{
        width: 90%;
    }

    .body-item-title-text-all-3{
        width: 90%;
        margin: 2% auto;
    }

    .img-footer{
        width: 12%;
    }
  }

@media screen and (min-width: 794px) and (max-width: 991px) {
    html{
        font-size: 16px;
    }

    .header-title .header-title-text-line1{
        font-size: 1.75rem;
        line-height: 129.3%;
        word-spacing: 0.09;
    }
    
    .header-title .header-title-text-line2{
        font-size:1.4375rem;
        line-height: 130.3%;
        word-spacing: 0.09;
    }
    
    .header-title .header-title-text-line3{
        line-height: 130.3%;
        word-spacing: 0.02;
    }

    .menu a{
        font-size: 0.75rem;
    }

    .banner{
        height: 35vw;
    }

    .body-item-title-all-2{
        font-size: 1.3rem;
    }

    .body-item-title-all-3{
        display: block;
    }

    .body-title-ic-all-3, .title-all{
        display: block;
    }

    .img-footer{
        width: 14%;
    }
  }

@media screen and (min-width: 992px){
    html{
        font-size: 16px;
    }

    .banner{
        height: 519px;
    }
  }
