main{
    width: 80%;
    margin: 0 auto 0 auto;
}

.introduce-title{
    display: block;
    margin-top: 5%;
}

.introduce-title p, .introduce-title-text p, .introduce-title-date p, .introduce-item-title p, .introduce-item-info p, .introduce-item-photo-info p, .introduce-item-info li{
    line-height: 2.7rem;
}

.introduce-title p, .introduce-item-title, .introduce-item-info{
    margin: 0;
}

.introduce-title-text p{
    font-size: 1.875rem;
    color: #135FAB;
    font-weight: 800;
}

.introduce-title-date p{
    font-size: 1.25rem;
    color: #02033B;
    opacity: 0.7;
    font-style: italic;
}

.introduce-item{
    margin-top: 2%;
}

.introduce-item-title{
    max-width: 100%;
    height: fit-content;
}

.introduce-item-title p{
    font-weight: bold;
    font-size: 1.5rem;
}

.introduce-item-info{
    width: 100%;
    height: fit-content;
}

.introduce-item-info p, .introduce-item-info li{
    font-size: 1.125rem;
}

#introduce-item1{
    margin-top: 5%;
}

#introduce-item1-title p{
    font-weight: 800;
}

#introduce-item1-info{
    margin-top: 3%;
}

.introduce-item img{
    margin-top: 3%;
    width: 100%;
    height: fit-content;
}

.introduce-item-photo-info{
    margin: 0 auto;
    width: 100%;
    height: fit-content;
}

.introduce-item-photo-info p{
    display: block;
    font-size: 1.5rem;
    margin: 0 auto;
    font-style: italic;
    text-align: center;
}