main{
    width: 1076px;
    margin: 0 auto 0 auto;
}

.introduce-title{
    display: block;
    margin-top: 54px;
}

.introduce-title p, .introduce-title-text, .introduce-title-date, .introduce-item-title, .introduce-item-info, .introduce-item-photo-info{
    line-height: 43.2px;
}

.introduce-title p, .introduce-item-title, .introduce-item-info{
    margin: 0;
}

.introduce-title-text{
    font-size: 30px;
    color: #135FAB;
    font-weight: 700;
}

.introduce-title-date{
    font-size: 20px;
    color: #02033B;
    opacity: 0.5;
}

.introduce-item{
    margin-top: 44px;
}

.introduce-item-title{
    max-width: 945px;
    height: fit-content;
    font-weight: bold;
    font-size: 24px;
}

.introduce-item-info{
    max-width: 1061;
    height: fit-content;
    font-size: 18px;
}

#introduce-item1{
    margin-top: 79px;
}

#introduce-item1-title{
    font-weight: 800;
}

#introduce-item1-info{
    margin-top: 44px;
}

.introduce-item-img{
    margin-top: 44px;
    width: 1058px;
    height: 646px;
}

.introduce-item-photo-info{
    margin: 0 auto 0 auto;
    max-width: 696px;
    height: fit-content;
    font-size: 24px;
    text-align: center;
}

#introduce-item7-info2{
    margin-top: 44px;
    padding-bottom: 34pxs;
}
