main{
    width: 80%;
    margin: 0 auto 0 auto;
}

.introduce-title{
    display: block;
    margin-top: 5%;
}

.introduce-title p, .introduce-title-text, .introduce-title-date, .introduce-item-title, .introduce-item-info, .introduce-item-photo-info{
    line-height: 4.32rem;
}

.introduce-title p, .introduce-item-title, .introduce-item-info{
    margin: 0;
}

.introduce-title-text{
    font-size: 3rem;
    color: #135FAB;
    font-weight: 700;
}

.introduce-title-date{
    font-size: 2rem;
    color: #02033B;
    opacity: 0.5;
}

.introduce-item{
    margin-top: 4%;
}

.introduce-item-title{
    max-width: 85%;
    height: fit-content;
    font-weight: bold;
    font-size: 2.4rem;
}

.introduce-item-info{
    width: 100%;
    height: fit-content;
    font-size: 18px;
}

#introduce-item1{
    margin-top: 7%;
}

#introduce-item1-title{
    font-weight: 800;
}

#introduce-item1-info{
    margin-top: 3%;
}

.introduce-item-img{
    margin-top: 3%;
    width: 100%;
    height: fit-content;
}

.introduce-item-photo-info{
    margin: 0 auto 0 auto;
    height: fit-content;
    font-size: 2.4rem;
    text-align: center;
}