.news-container, .science-container{
    width: 1060px;
    min-height: 1400px;
    margin-top: 74px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.news-item2-box2, .science-item2-box2{
    margin-top: 36px;
}

.news-item1-title, .science-item1-title{
    margin-top: 48px;
}

#news-item1-title1, #science-item1-title1{
    margin-top: 0;
}


.news-item1-title-topic, .science-item1-title-topic{
    display: flex;
    align-items: center;
}

.news-item1-title-logo, .news-item1-title-text, .science-item1-title-logo, .science-item1-title-text{
    display: inline-block;
}

.news-item1-title-logo, .science-item1-title-logo{
    width: 100px;
    height: 94px;
}

.news-item1-title-text, .science-item1-title-text{
    width: 645px;
    height: 76px;
    font-size: 18px;
    line-height: 43.2px;
    color: #135FAB;
    padding-left: 10px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
}

.news-item1-title-date, .science-item1-title-date{
    width: 645px;
    margin-top: 10px;
    padding-bottom: 15px;
    text-align: right;
    border-bottom: 1px solid #817777;
}

.pagination{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #135FAB;
    text-align: center;
    line-height: 32px;
    word-spacing: 15.28px;
}

.page-item{
    padding: 48px 15px 0 15px;
    cursor: pointer;
}

#page-item1{
    border-bottom: 1px solid #135FAB;
}
