.news-container, .science-container{
    width: 80%;
    height: fit-content;
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.news-item1{
    width: 65%;
    padding-right: 5%;
}

.news-item2{
    width: 30%;
}

.news-item2-box2, .science-item2-box2{
    margin-top: 10%;
}

.news-item1-title, .science-item1-title{
    margin-top: 5%;
}

#news-item1-title1, #science-item1-title1{
    margin-top: 0;
}


.news-item1-title-topic, .science-item1-title-topic{
    display: flex;
    align-items: center;
}

.news-item1-title-logo, .news-item1-title-text, .science-item1-title-logo, .science-item1-title-text{
    display: inline-block;
}

.news-item1-title-text, .science-item1-title-text{
    width: 100%;
    height: fit-content;
    font-size: 1.8rem;
    line-height: 4.32rem;
    color: #135FAB;
    padding-left: 2%;
    font-weight: 500;
}

.news-item1-title-date, .science-item1-title-date{
    width: 100%;
    margin-top: 3%;
    padding-bottom: 2%;
    text-align: right;
    border-bottom: 1px solid #817777;
}

.pagination{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #135FAB;
    text-align: center;
    line-height: 3.2rem;
    word-spacing: 1.528rem;
}

.page-item{
    font-size: medium;
    padding: 1% 1% 0 1%;
    cursor: pointer;
}

#page-item1{
    border-bottom: 1px solid #135FAB;
}
