.row1-all, .organ-row2, .container-list-all{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto 0 auto;
}

.container-list-all{
    padding-bottom: 5%;
    height: fit-content;
}

.row1-all{
    padding-top: 5%;
}

.row1-all-title, .find_bar{
    margin: 0;
}


.find_bar-text{
    background-color: white;
}

.row1-all-title{
    display: inline-block;
    font-size: 3rem;
    font-weight: 600;
    line-height: 4.32rem;
    color: #135FAB;
}

.find_bar{
    padding: 1%;
    width: 30%;
    height: fit-content;
    background-color: white;
}

.organ-row2{
    padding-top: 5%;
}

.organ-row2-img{
    width: 65%;
    height: fit-content;
    padding-right: 5%;
}

.container-box-all{
    width: 100%;
    height: fit-content;
    margin-right: 0;
}

.list-organ-row3-box1{
    padding-right: 5%;
}

.title-organ-row3{
    margin-left: 2%;
    font-size: 2.4rem;
    font-weight: 600;
}

.body-item-box-all-3{
    margin-top: 5%;
    background-color: white;
}

.body-item-box-all, .body-item-box-all-3{
    width: 100%;
}

.body-item-box-all-3{
    margin-top: 10%;
}