.row1-all, .organ-row2, .container-list-all{
    width: 1060px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto 0 auto;
}

.container-list-all{
    padding-bottom: 300px;
    min-height: 750px;
}

.row1-all{
    padding-top: 61px;
}

.row1-all-title, .find_bar{
    margin: 0;
}


.find_bar-text{
    background-color: white;
}

.row1-all-title{
    display: inline-block;
    font-size: 30px;
    font-weight: 600;
    line-height: 43.2px;
    color: #135FAB;
}

.find_bar{
    width: 329px;
    height: 44px;
    background-color: white;
}

.organ-row2{
    padding-top: 74px;
}

.organ-row2-img{
    min-width: 694px;
    height: 413px;
}

.container-box-all{
    width: 336px;
    height: 484px;
    margin-right: 0;
}

.organ-item-row2-box2-text{
    margin-left: 12.79px;
}

.organ-row3{
    padding-top: 36px 0 0 367px;
}

.title-organ-row3{
    margin: 0 0 0 10px;
    font-size: 24px;
    font-weight: 600;
}

.body-item-box-all-3{
    margin-top: 36px;
    background-color: white;
}
