main{
    background-color: #F2F2F2;
}

.container-post, .container-teaching{
    height: fit-content;
    padding-top: 57px;
}

.post-box1, .post-box2, .teaching-box1, .teaching-box2{
    background-color: white;
}

.post-box1, .teaching-box1{
    height: fit-content;
    width: 701px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.post-box2, .teaching-box2{
    width: 301px;
    height: 629px;
    margin-top: 35px;
    border-radius: 0;
}

.post-item-row1-box2-text, .teaching-item-row1-box2-text{
    width: 230px;
}

.post-title, .post-athor, .organ-row1-title, .teaching-title, .teaching-athor{
    margin-left: 25px;
    font-size: 24px;
    font-weight: 800;
    line-height: 43.2px;
    max-width: 676px;
    height: fit-content;
}

.post-title{
    padding-right: 25px;
}

.post-athor, .teaching-athor{
    display: flex;
}

.post-athor-logo, .post-athor-info, .teaching-athor-logo, .teaching-athor-info{
    display: inline-block;
}

.post-athor-info, .teaching-athor-info{
    margin-left: 15px;
}

.post-athor-name, .post-athor-date, .teaching-athor-name, .teaching-athor-date{
    margin: 0;
    line-height: 43.2px;
}

.post-athor-name, .teaching-athor-name{
    font-size: 18px;
    font-weight: 600;
}

.post-athor-date, .teaching-athor-date{
    margin-top: -15px;
    font-size: 16px;
    font-weight: 200;
    opacity: 0.7;
}

.post-content, .teaching-content{
    margin-left: 25px;
    width: 645px;
    height: fit-content;
    margin-top: 27px;
    padding-bottom: 87px;
    font-size: 18px;
    line-height: 31.2px;
    letter-spacing: 1%;
}

footer{
    margin-top: 0;
}
