main{
    background-color: #F2F2F2;
}

.container-post, .container-teaching{
    height: fit-content;
    padding-top: 5%;
}

.post-box1, .post-box2, .teaching-box1, .teaching-box2{
    background-color: white;
}

.post-box1, .teaching-box1{
    margin: 0 auto 0 auto;
    width: 80%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.post-title, .post-athor, .organ-row1-title, .teaching-title, .teaching-athor{
    margin-left: 5%;
    font-size: 2.4rem;
    font-weight: 800;
    line-height: 4.32rem;
    width: 90%;
    height: fit-content;
}

.post-athor, .teaching-athor{
    display: flex;
}

.post-athor-logo, .post-athor-info, .teaching-athor-logo, .teaching-athor-info{
    display: inline-block;
}

.post-athor-logo, .teaching-athor-logo{
    width: 6rem;
    height: 6rem;
}

.post-athor-info, .teaching-athor-info{
    margin-left: 1.5%;
}

.post-athor-name, .post-athor-date, .teaching-athor-name, .teaching-athor-date{
    margin: 0;
    line-height: 4.32rem;
}

.post-athor-name, .teaching-athor-name{
    font-size: 1.8rem;
    font-weight: 600;
}

.post-athor-date, .teaching-athor-date{
    margin-top: -15%;
    font-size: 1.6rem;
    font-weight: 200;
    opacity: 0.7;
}

.post-content, .teaching-content{
    margin: 0 auto;
    width: 90%;
    height: fit-content;
    padding-bottom: 5%;
    font-size: 1.8rem;
    line-height: 3.12rem;
    letter-spacing: 1%;
}

.index-news{
    background: white;
}

footer{
    margin-top: 0;
}
