.container-more{
    margin-top: 5%;
    padding-bottom: 5%;
    padding-top: 0;
    width: 80vw;
    height: fit-content;
}

.title-more{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: fit-content;
    margin-top: 0;
    margin-left: 2%;
    font-size: 2rem;
    font-weight: 600;
    background-color: #135FAB;
    color: white;
    border-radius: 10px;
}

#item-more1{
    padding-top: 5%;
}

.more-box2{
    margin-top: 12%;
}