.title-result, .title-more{
    margin-top: 96px;
    margin-left: 10%;
    font-size: 28px;
    font-weight: bold;
}

.container-finding, .container-post, .container-more, .organ-row3{
    display:flex;
    justify-content: space-between;
    width: 1060px;
    height: 696px;
    padding-top: 41px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 145px;
   
}       

.list-result, .post-box1, .list-more, .list-organ-row3-box1{
    width: 640px;
    height: 696px;
    line-height: 43.2px;
}

.item-result, .item-more, .item-organ{
    font-size: 20px;
    font-weight: 600;
    color: #02033B;
}

.info-result, .info-more, .info-organ{
    margin: 0;
    font-weight: lighter;
    font-size: 18px;
    color: #02033B;
    line-height: 43.2px;
    white-space: nowrap;         
    overflow: hidden;           
    text-overflow: ellipsis; 
    opacity: 0.5;
}

.finding-box2, .post-box2, .more-box2, .organ-item-row2-box2{
    display: inline-block;
    border-radius: 10px;
    width: 362px;
    height: 629px;
    margin-right: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}